/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cinzel+Decorative:wght@400;700;900&family=Italianno&display=swap');

/*CSS Variables*/
:root {
    --primary-dark: #221133; /*Aubergine*/
    --primary-light: #ddffe0; /*Mint*/
    --heading: "Cinzel Decorative", serif;
    --body: "Assistant", sans-serif;
    --accent: "Italianno", cursive;
    --accent-blue: #aac6d7; 
    --accent-sand: #cab185;
    --accent-lilac: #beb7df;
}

/*Utility Classes*/
.hidden {
    display: none;
}

/*General Styles*/
body {
    background-color: var(--accent-blue);
    font-family: var(--body);
}

/*Navbar*/
.navbar {
    background-color: var(--primary-dark);
    box-shadow: 0px -4px 7px rgba(221, 255, 224, .6) inset;
}

.navbar-brand {
    font-family: var(--heading);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out; 
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--accent-sand);
}

.navbar a {
    color: var(--primary-light); 
    transition: all 0.5s ease-in-out;
}

#nav-menu {
    min-width: 100%;
}

#nav-links .active {
    color: var(--accent-sand);
}

.nav-link:hover {
    color: var(--accent-sand);
}

#logo {
    height: 30px;
    width: 30px;
}

main {
    margin-top: 56px;
}

/*Footer*/
footer {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
}

.socials i {
    display: inline-block;
    perspective: 300px;
    transform: rotateY(0deg);
    transition: all 1.2s ease;
}

.socials i:hover {
    color: var(--accent-sand);
    transform: rotateY(180deg);    
}

/*Buttons*/
#menu-btn {
    border: none;
    background-color: transparent;
    color: var(--primary-light);
    font-size: 1.6rem;
    padding: 0;
}

/*Media Queries*/
/*Medium screens and up (768px)*/
@media screen and (min-width:768px) {
    #menu-btn {
        display: none;
    }

    #nav-menu {
        display: block;
    }

    #nav-links {
        flex-direction: row;
    }

    .nav-link {
        padding-right: 10px;
    }
}