/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Cinzel+Decorative:wght@400;700;900&family=Italianno&display=swap');

/*CSS Variables*/
:root {
    --primary-dark: #221133; /*Aubergine*/
    --primary-light: #ddffe0; /*Mint*/
    --heading: "Cinzel Decorative", serif;
    --body: "Assistant", sans-serif;
    --accent: "Italianno", cursive;
    --accent-blue: #aac6d7; 
    --accent-sand: #cab185;
    --accent-lilac: #beb7df;
}

/*Utility Classes*/
.hidden {
    display: none;
}

/*General Styles*/
body {
    background-color: var(--primary-light);
    font-family: var(--body);
    color: var(--primary-dark);
}

h1, h2 {
    text-transform: uppercase;
    font-family: var(--heading);
    text-align: center;
}

/*Navbar*/
.navbar {
    background-color: var(--primary-dark);
    box-shadow: 0px -4px 7px rgba(221, 255, 224, .6) inset;
}

.navbar-brand {
    font-family: var(--heading);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    transition: all 0.5s ease-in-out; 
}

.navbar-brand:focus, .navbar-brand:hover {
    color: var(--accent-sand);
}

.navbar a {
    color: var(--primary-light); 
    transition: all 0.5s ease-in-out;
}

#nav-menu {
    min-width: 100%;
}

#nav-links .active {
    color: var(--accent-sand);
}

.nav-link:hover {
    color: var(--accent-sand);
}

#logo {
    height: 30px;
    width: 30px;
}

/*To push content from behind the navbar & footer*/
main {
    margin-top: 56px;
    margin-bottom: 57px;
}

/*Title Banner*/
#title-banner {
    background: url(../images/title-banner.webp) no-repeat center bottom / cover ;
    min-height: 193px;
    padding: 0;
}

#banner-overlay {
    background-color: rgba(34, 17, 51, .6);
    min-height: inherit;
    color: var(--accent-sand);
    padding: 10px 0;
}

.lead {
    font-family: var(--accent); 
}

#title-btns {
    padding: 0;
}

/*About Section*/
#about h2 {
    margin-top: 20px;
}

#about h3 {
    font-family: var(--accent);
    font-size: 240%;
}

#about-image {
    background: url(../images/about-image.webp) no-repeat center 30% / cover;
    z-index: 100;
    min-height: 400px;
}

/*Tarot Game Page*/
#tarot-main {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--accent-sand);
    padding-top: 10px;
}

#game-container h2 {
    font-family: var(--accent);
    text-transform: capitalize;
}

#game-container > p {
    font-size: 0.8rem;
}

#card-back, #game-card {
    height:335px;
    width: 192.42px;
    border-radius: 10px;
    display: block;
    margin: auto;
}

#game-text {
    max-width: 90%;
    font-family: var(--accent);
    font-size: 1.5rem;
}

/*Card Flip Action*/
.card-flip {
    height: 335px;
    width: 191.42px;
    perspective: 1000px;
}

.card-flip-inner {
    position: relative;
    transition: all 1.2s;
    transform-style: preserve-3d;
}

.flipped .card-flip-inner {
    transform: rotateY(-180deg);
}

.card-flip-front, .card-flip-back {
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-flip-back {
    transform: rotateY(180deg);
}

/*Footer*/
footer {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

footer a {
    text-decoration: none;
    color: inherit;
    font-size: 1.7rem;
}

.socials i {
    display: inline-block;
    perspective: 300px;
    transition: all 1.2s;
}

.socials i:hover {
    color: var(--accent-sand);
    transform: rotateY(180deg);    
}

/*Buttons*/
#menu-btn {
    border: none;
    background-color: transparent;
    color: var(--primary-light);
    font-size: 1.6rem;
    padding: 0;
}

.title-btn {
    background-color: var(--accent-lilac);
    color: var(--primary-dark);
    text-transform: capitalize;
    max-width: fit-content;
    font-weight: bold;
    margin: 0 5px 5px 5px;
}

.title-btn:hover {
    border: 3px solid var(--accent-lilac);
    color: var(--accent-lilac);
    background-color: transparent;
}

.about-btn {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    display: block;
    max-width: fit-content;
    max-height: fit-content;
    font-weight: 550;
}

.about-btn:hover {
    background-color: transparent;
    border: 3px solid var(--primary-dark);
    color: var(--primary-dark);
}

#game-btn {
    background-color: var(--primary-dark);
    color: var(--accent-sand);
    width: 170px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    font-weight: 600;
}

/*Media Queries*/

/*Small screens and up (576px)*/
@media screen and (min-width:576px) {
    #title-banner {
        min-height: 220px;
    } 
    
    #banner-overlay {
        padding-top: 20px;
    }
    
    #about-image {
        min-height: 500px;
        background-position: center 20%;
        border-radius: 20px;
        box-shadow: 4px 4px 10px rgba(34, 17, 51, .6);
    }
}

/*Medium screens and up (768px)*/
@media screen and (min-width:768px) {
    #menu-btn {
        display: none;
    }

    #nav-menu {
        display: block;
        min-width: 0;
    }

    #nav-links {
        flex-direction: row;
    }

    .nav-link {
        padding-right: 10px;
    }

    #about-image {
        position: relative;
        top: 20px;
        min-height: 674px;
    }

    #about2 {
        position: relative;
        bottom: 298px;
    }

    #tablet-size {
        max-height: 860px;
    }
}    

/*Large screens and above (992px)*/
@media screen and (min-width:992px) {
    #about-image, #about2 {
        position: static;
    }

    #about2 {
        padding: 0px 12px;
        max-width: fit-content;
        /*min-height: fit-content;*/
    }

    #about div {
        min-height: 400px;
        margin-bottom: auto;
    }

    #services-btn {
        margin-top: 49px;
    }   
}    

/*Extra Large screens and above (1200px)*/
@media screen and (min-width:1200px) {
    #services-btn {
        margin-top: 30px;
    }
}

/*XXLscreens and above (1400px)*/
@media screen and (min-width:1400px) {
    #services-btn {
        margin-top: 53px;
    }
}